[Desktop Entry]
Name=Cube
Comment=FPS Shooter
Comment[pl]=Strzelanka
Exec=cube
Icon=cube-client
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
# vi: encoding=utf-8
