[Desktop Entry]
Name=Cube server
Name[pl]=Serwer Cube
Comment=Cube server console
Comment[pl]=Konsola gry Cube
Exec=cube_server
Icon=cube-server
Terminal=true
Type=Application
Categories=Game;Game;X-FPPGame;
# vi: encoding=utf-8
